* {
  font-family: Helvetica, sans-serif;   
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color: rgb(228, 228, 228);
}

.main-container {
  min-height: 71vh; 
  padding: 1em 1.2em;
}